$fancy-font: 'Pinyon Script', cursive;

/* colors */
$light-blue: #e7f7ff;
$white: #FFFFFF;

h1 {
    font-family: $fancy-font;
    font-size: 7em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    font-family: $fancy-font;
    font-size: 4em;
    font-weight: normal;
    text-align: center;
}

p.byline {
    font-family: $fancy-font;
    text-align: center;
    font-size: 2.5em;
    margin-top: 0;
    color: #999999;
}

ul.art-list {
    font-family: $fancy-font;
    list-style: none;
    text-align: center;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
}

ul.art-list li {
    padding: .25em;
    background: $light-blue;
    margin: 1em auto 1em auto;
}

ul.art-list li {
    a,
    a:link,
    a:visited {
        color: #777777;
        text-decoration: none;
    }

    a:hover,
    a:active {
        color:  #777777;
        text-decoration: none;
    }

}